<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alpha Blog - Edit an Article</title>
</head>
<body>
<h1>Edit an Article</h1>

<!--  Check for errors here -->
<% if @article&.errors&.any? %>
  <h2>The following errors prevented the article from being saved:</h2>
  <ul>
    <% @article.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <% end %>
  </ul>
<% end %>

<!--  Generates a form object automatically in html, but want to fill
 in form fields with existing data
 Will also tell rails where to submit the update action (article's id)-->
<%=form_with(model: @article,  local: true) do |f| %>
  <p>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<p><%=link_to 'Cancel', articles_path %></p>
</body>
</html>
